// Define variables for your color scheme
$orange_golden: #C33122;
$pink_salmon: #F88176;
$black_coral: #545863;
$dark_purple: #381D2A;
$blue_electric: #00E8FC;
$yellow_maize: #F9C846;
$turquoise_verdigris: #00AFB9;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
