// Specific CSS for your home-page
body {
  background: $pink_salmon;
}

.container-offer {
  display: flex;
  justify-content: space-evenly;
}

.card-container {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.map-benefit {
  position: sticky;
  top: 90px;
  height: 100vh;
  width: 30%;
  padding: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start

}

.div-wrapper {
  min-height: calc(100vh - 116px);
  padding: 30px;
  padding-top: 90px;
}

.home {
  padding: 0px;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  object-fit: cover;
  width: 100%;
}

.benefit a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #8C2310;
  width: 100%;
  height: 400px;
  font-size: 42px;
  padding: 1em;
  text-align: center;
}


#map {
  width: 100%;
  height: 400px;
  margin: 10px;
}
