// Specific CSS for your home-page
body {
  background: $pink_salmon;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.div-wrapper {
  min-height: calc(100vh - 100px - 85px);
}

a {
  color: purple;
}

a:hover {
  color: #8D5A97;
  // color: #A7BBEC;
  text-decoration: none;
}

.form-control {
  margin: 10px;
  width: 40%;
}
