// Specific CSS for your home-page

@import "../components/navbar";

// color palette

$orange_golden: #C33122;
$pink_salmon: #F88176;
$black_coral: #545863;
$dark_purple: #381D2A;
$blue_electric: #00E8FC;
$yellow_maize: #F9C846;
$turquoise_verdigris: #00AFB9;


body {
  background: $pink_salmon;
}
