<div class="card-trip">
  <img src="https://cdn.pixabay.com/photo/2017/08/07/07/48/sky-2601156_960_720.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Hug</h2>
      <p>Physical and friendly hug!</p>
    </div>
    <h2 class="card-trip-pricing">£9.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
