<%= render "shared/banner" %>

<div class="container">
  <h2>Which hug will you choose?</h2>
  <div class="card-container">
    <% @hugs.each do |hug|%>
      <%= render partial: "shared/card", locals: {hug: hug} %>
    <% end %>
    hello
  </div>
  <h4>Learn about the benefits of hugging.</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis mollitia vel, magnam officiis fugiat accusantium ut doloremque numquam sequi dicta placeat amet nulla nobis incidunt nisi necessitatibus velit illum exercitationem pariatur excepturi sunt dolore consequuntur eius reiciendis! Voluptatem corrupti, sapiente nam recusandae iusto quasi facilis pariatur magni nobis nihil est!
  </p>
</div>
