<%= render "shared/banner" %>

<div class="container">
 <%= link_to "Hugs", hugs_path, class: "nav-link", id: "hug" %>


  <div class="card-container">
    <% @hugs.each do |hug|%>
      <%= render partial: "shared/card", locals: {hug: hug} %>
    <% end %>

  </div>
  <h4>Learn about the benefits of hugging.</h4>
  <p>
  <a href="https://www.medicinenet.com/how_do_hugs_make_you_feel/article.html" target="_blank"> Un article sur le sujet</a>
  </p>
</div>
