<div class="container">
  <%= render "shared/banner" %>
  <h1>What hug will you choose?</h1>
  <p>Learn about the benefits of hugging.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis mollitia vel, magnam officiis fugiat accusantium ut doloremque numquam sequi dicta placeat amet nulla nobis incidunt nisi necessitatibus velit illum exercitationem pariatur excepturi sunt dolore consequuntur eius reiciendis! Voluptatem corrupti, sapiente nam recusandae iusto quasi facilis pariatur magni nobis nihil est!
  </p>
  <%= render "shared/card" %>
</div>
