<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis mollitia vel, magnam officiis fugiat accusantium ut doloremque numquam sequi dicta placeat amet nulla nobis incidunt nisi necessitatibus velit illum exercitationem pariatur excepturi sunt dolore consequuntur eius reiciendis! Voluptatem corrupti, sapiente nam recusandae iusto quasi facilis pariatur magni nobis nihil est!
  </p>
</div>
