<h1>Liste des hugs </h1>
<p>Voici les hugs créés</p>
<ul class="list-group">
  <% @hugs.each do |hug| %>
    <li class="list-group-item"><%= link_to(hug.title, hug_path(hug)) %></li>
  <% end %>
</ul>

<h2><%= link_to("Create a hug",new_hug_path) %> </h2>
