<div class="container">
  <div class="row justify-content-center">
    <h2>Hugs' list </h2>
  </div>
  <div class="row justify-content-center">
    <p>This is the list of hugs created</p>
  </div>
</div>

  <div class="container">
    <% @hugs.each do |hug|%>
      <ul>
      <%= render partial: "shared/horizontal", locals: {hug: hug} %>
      </ul>
    <% end %>

    <div class="row justify-content-center">
      <%= link_to "Create a hug", new_hug_path, class: "btn btn-gradient" %>
    </div>

    <div class="row justify-content-center">
      <%= link_to "Back to home page", root_path, class: "btn btn-ghost" %>
    </div>

  </div>
