.navbar-lewagon {
  justify-content: space-between;
  background: $orange_golden;
  margin-bottom: 2em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 40px;
}

img#navbarDropdown.avatar.dropdown-toggle {
  width: 60px;
}

.navbar-brand {
  font-weight: bolder;
  font-size: 3em;
}

.navbar-light .navbar-brand {
  font-family: $navbar-title-font;
  $dark_purple: #381D2A;
  color: $dark_purple;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: $turquoise_verdigris;
}
.navbar-light .navbar-nav .nav-link  {
  color: $turquoise_verdigris;
}

.navbar-nav {
  display: flex;
}

a.nav-link {
  padding-top: 20%;
}

#home {
  padding-top: 29%;
}
