.navbar-lewagon {
  justify-content: space-between;
  $orange: #F53E2C;
  $red: #C23023;
  background: $red;
  margin-bottom: 2em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 40px;
}

.navbar-brand {
  font-weight: bolder;
  font-size: 3em;
}
